.glass {
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 8px;
  backdrop-filter: blur(10px);
  background-clip: padding-box;
}

.close-icon {
  padding: 6px;
  cursor: pointer;
  background: var(--main);
  border-radius: 50%;
  transition-timing-function: ease-in-out;
  transition-property: color, filter;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.33);
}

.close-icon:hover {
  color: var(--page-bg);
  filter: brightness(1.25);
}

.noselect, a, .material-icons {
  -webkit-touch-callout: none;
  user-select: none;
}

.centred, .image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.full-page {
  min-width: 100%;
  width: 100%;
  min-height: 100vh;
  height: 100%;
}

.image {
  width: inherit;
  height: inherit;
}

.image img {
  max-width: 100%;
  margin: auto;
  display: block;
}

.pseudo-before, .pseudo-after, .shaded-circle {
  position: relative;
}

.abs, .pseudo-before::before, .pseudo-after::after, .shaded-circle::after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.pseudo-before::before, .pseudo-after::after, .shaded-circle::after {
  content: "";
}

.shaded-circle:after {
  background: radial-gradient(circle at 50% 0px, #FFFFFF, rgba(255, 255, 255, 0) 58%);
  filter: blur(3px);
  border-radius: 50%;
  z-index: 2;
}

.decorated {
  overflow: hidden;
  text-align: center;
  width: 100%;
}

.decorated > span {
  position: relative;
  display: inline-block;
  font-size: 14px;
}

.decorated > span:before, .decorated > span:after {
  content: "";
  position: absolute;
  top: 50%;
  border-bottom: 1px solid var(--main);
  border-radius: 3px;
  width: 100vw;
  margin: 0 20px;
}

.decorated > span:before {
  right: 100%;
}

.decorated > span:after {
  left: 100%;
}

.overlay {
  position: fixed;
  z-index: 13;
  background: var(--page-bg);
  opacity: .33;
}

.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  max-width: 90vw;
  max-height: 90vh;
  min-width: min-content;
  width: fit-content;
  z-index: 14;
  background: var(--page-bg);
}
