:root {
  --text-colour: #FFF;
  --page-bg: #000;
  --orange: #F39041;
  --bright-orange: #ff6348;
  --red: #EA2027;
  --green: #2ED573;
  --blue: #74b9ff;
  --electron-blue: #0984e3;

  --main: var(--orange);
  --accent: var(--bright-orange);

  --button-radius: 0;
}

html:focus-within {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Montserrat", sans-serif;
  color: var(--text-colour);
  background: var(--page-bg);
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

html, body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

*, *:before, *:after {
  box-sizing: border-box;
  letter-spacing: 3px;
  text-transform: uppercase;
}

h1, h2, h3 {
  font-weight: 400;
  display: inline-block;
}

h1 {
  letter-spacing: 16px;
  font-size: 32px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 16px;
}

strong {
  font-weight: 700;
}

a {
  text-decoration: none;
  background: transparent;
}

input, button, textarea, select {
  font-family: inherit;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

.image {
  width: inherit;
  height: inherit;
}

.image img {
  max-width: 100%;
  margin: auto;
  display: block;
}

.noselect, a, .material-icons {
  -webkit-touch-callout: none;
  user-select: none;
}

.centred, .image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.full-page {
  min-width: 100%;
  width: 100%;
  min-height: 100vh;
  height: 100%;
}

::-webkit-scrollbar {
  height: 4px;
  width: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--main);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  filter: brightness(1.4);
}

::selection {
  background: var(--main);
}

::inactive-selection {
  filter: brightness(0.67);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideDown {
  0% {
    top: -100%;
  }
  100% {
    top: 0;
  }
}

@keyframes slideUp {
  0% {
    top: 0;
  }
  100% {
    top: -100%;
  }
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.glass {
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 8px;
  backdrop-filter: blur(10px);
  background-clip: padding-box;
}

.close-icon {
  padding: 6px;
  cursor: pointer;
  background: var(--main);
  border-radius: 50%;
  transition-timing-function: ease-in-out;
  transition-property: color, filter;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.33);
}

.close-icon:hover {
  color: var(--page-bg);
  filter: brightness(1.25);
}
